<%- include('includes/_header.ejs') %>

<form action="/add-user" method="post">
  <label class="form-label" for="form2Example1">Email address:</label>
  <input type="email" name="email" placeholder="example@example.com"/>

  <label class="form-label" for="form2Example1">Password:</label>
  <input type="password" name="password" />

  <label class="form-label" for="form2Example1">Username:</label>
  <input type="text" name="username" placeholder="example"/>

  <button type="submit" class="btn btn-primary btn-block mb-4">Add User</button>
</form>


<%- include("includes/_footer.ejs") %>
